* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */

}

body {
  background-color: rgba(14, 23, 49, 255);
  /* font-family: Arial, sans-serif; */
  color: white;
}

.nav-bar {
  /* background-color: rgba(14,23,49,255); */
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
  /* Distribute space between logo and nav items */
  align-items: center;
  /* Align items vertically in the center */
  padding-top: 10px;
  /* background-color: aliceblue; */
  flex-wrap: wrap;

}

.ul-list {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  font-style: bold;
  list-style-type: none;
  display: flex;
  margin: 0;
  /* padding: 50px; */
  padding-right: 2rem;
  flex-wrap: wrap;
  /* background-color: #45a049; */

}

.nav-bar-div2 {
  overflow: hidden;
}

.ul-list li {
  margin-left: 2rem;
}

.ul-list li a {
  text-decoration: none;
}

.ul-list li a:hover {
  background-color: yellow;
}

.logo img {
  max-height: 90px;
  box-shadow: none;
}

.section {
  /* background-color:#14a04a; */
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 10rem;
}

.profile-section {
  /* background-color:white; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* Center items vertically */
  /* padding: 20px; */
}


.info {
  flex: 1;
  /* Take up remaining space */
  margin-right: 20px;
  /* Add margin for spacing */
}

#header-name h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
}
#header-name h1 span{
 color: aqua;
}
#header-name p{
  font-family: 'Courier New', Courier, monospace;
  padding-top: 1  rem;
  font-size: 2em;
}

.photo {
  /* display: flex; */
  margin-right: 50px;
}

@keyframes borderMove {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes lightning {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.photo img {
  max-width: 25rem;
  /* Ensure the photo doesn't exceed its container */
  height: auto;
  /* Maintain aspect ratio */
  display: block;
  /* Remove extra space beneath the image */
  border: 5px solid #6b1a1a;
  /* Set the border style and color */
  animation: borderMove 4s infinite alternate, lightning 2s infinite;
  border-radius: 50%;
}


.simple-line {
  /* margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-size: 2rem;
  color: rgb(22, 138, 26); */
}

.simple-line h3{
  /* font-family: sans-serif; */
        /* margin: 10px auto; */
        font-family:'Courier New', Courier, monospace;
        color: #deece8;
        text-align: center;
        font-size: 1.6rem;
        max-width: 22rem;
        padding-left: 1.5rem;
        position: relative;

}

.simple-line h3::before {
  content: "";
  display: block;
  width: 6rem;
  height: 0.27rem;
  background: #14a04a;
  left: 0;
  top: 50%;
  position: absolute;

}

.about-me {
  padding-top: 2rem;
  /* background-color: green; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.8em;
}

.download-button {
  padding-top: 2rem;
  /* padding-left: 5rem;
   */
  /* background-color: #45a049; */
  display: flex;
  justify-content: right;
  
}
.download-button button{
  font-size: 2.5em;
}

.below-photo-name {
  text-align: center;
  
}
.below-photo-name {
 font-family: 'Times New Roman', Times, serif;
 font-size: 1.5em;
 color: #ad9f9f;
 
}

/* .section-style{
  margin-left: 1.5rem;
} */
.education {
  padding-top: 10px;
  padding-left: 25px;
}

.education-img img {
  height: 250px;
  width: 300px;
  border: rgb(66, 18, 82) solid 2px;
}

.div-size {
  height: auto;
  width: 300px;
}

.main-education-div {
  /* background-color: brown; */
  display: flex;
  justify-content: space-around;
  /* Adjust as needed */
  flex-wrap: wrap;
  /* Allow cards to wrap to the next line on smaller screens */
  padding: 1.5rem;
  /* padding: 1.5rem; */
}

footer {
  /* background-color: #6b1a1a; */
  text-align: center;
}


/* form css */
form {
  max-width: 600px;
  margin: 0 auto;
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



input,
textarea {
  width: 100%;
  padding: 8px;
  /* background-color: rgba(14,23,49,255); */
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  /* background-color: #4caf50; */
  /* color: white; */
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}

.contact-class1 {
  /* background-color: #45a049; */
  width: 600px;
  /* Set the width */
  height: 300px;
  /* Set the height */
}

.contact-class1 div {
  padding-top: 1.5rem;
}

.contact-class2 {
  /* background-color: #45a049; */
}

.skill-class {
  /* background-color: #6b1a1a; */

  padding: 1.5rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  /* margin-right: 10px; */
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* border: #45a049 solid; */
  overflow: hidden;

}

.skill-div1 {
  width: 30rem;
  height: auto;
  margin: 15px;
  /* margin-right: 66px;
  margin-bottom: 8px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #45a049;
}
.help{
  /* display: flex;
  justify-content: center; */
  background-color: #6b1a1a;
}
.help img{
  
  background-color: #6b1a1a;
}
.help span{
  padding: 0.5rem;
}

.skill-div1 h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.center-p-element {
  text-align: center;
}

/* Star css  */
.checked {
  color: orange;
}

/* Social media icons */
.social-media-div {
  margin-top: 10px;
  width: 220px;
  /* background-color: #45a049; */
  display: flex;
}

.social-media-div i {
  padding: 10px;
  padding-left: 25px;
  font-size: 25px;
  color: rgb(17, 89, 56);
  /* Set the color to make the icon visible */
}

.certificate-div1 {
  /* background-color: #45a049; */
  margin-top: 15rem;
  height: 25vh;
  width: 30vw;
}
.certificate-div1 h3{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.8em;
}
.certificate-div2 {
  /* background-color: #45a049; */
  display: flex;
  /* justify-content: last baseline; */
  justify-content: space-between;
  flex-wrap: wrap;
}
.internship-certificate-div2 {
  /* background-color: #45a049; */
  display: flex;
  justify-content: last baseline;
  justify-content: space-between;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.certificate-div2 img {
  height: 40vh;
  width: 35vw;
}

.internship-certificate-div img {
  height: 55vh;
  width: 40vw;
}
.internship-certificate-div h3{
 font-family: 'Courier New', Courier, monospace;
 font-size: 3em;
 /* text-align: center; */
}
.internship-secondary-div{
  /* margin-left: 1rem; */
  height: 55vh;
  width: 80vh;
  /* background-color: #14a04a; */
}
.internship-secondary-div h2{
  /* margin-left: 10rem; */
 font-family: 'Courier New', Courier, monospace;
 font-size: 2em;
}
.internship-secondary-div p{
  /* margin-left: 10rem; */
 font-family: 'Courier New', Courier, monospace;
 font-size: 1.5em;
 padding-top: 1.5rem;
}